@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
}
html,body{
    height: 100%;
}
.lt_container{
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    padding-top:55px;
    padding-bottom:55px;
}
.lt_header{
    height: 55px;
    width: 100%;
    position: absolute;
    top:0;
    background-color: #007aff;
    color:#fff;
}
.lt_header a span{
    display: block;
    width: 55px;
    height: 55px;
    color: #fff;
    position: absolute;
    top:0;
    text-align: center;
    line-height: 55px;
    font-size: 25px;
    font-weight:normal;
}
.lt_header a .icon_back{
    left:0;
}
.lt_header a .icon_search{
    right:0;
}
.lt_header h3{
    text-align: center;
    line-height: 55px;
    margin:0;
    font-weight:normal;
}
.lt_main{
    height: 100%;
    width: 100%;
    position: relative;
    overflow:hidden;
    background-color: #fff;
}
.lt_product{
    padding:10px;
}
.lt_product a{
    display: block;
    width: 48%;
    float: left;
    padding:10px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 10px;
}
.lt_product a:nth-child(odd){
    margin-right: 4%;
}
.lt_product a .price{
    color:red;
}
.lt_product a .old_price{
    text-decoration: line-through;
    color:#ccc;
}
.lt_product a button{
    display:block;
    margin: 0 auto;
}


.lt_footer{
    height:55px;
    width: 100%;
    background-color: #007aff;
    position: absolute;
    bottom:0;
}
.lt_footer li{
    text-align: center;
    width: 25%;
    float: left;
    padding-top: 10px;
}
.lt_footer li a{
    display: block;
    color:#fff;
}
.lt_footer li.now a,
.lt_footer li.now p {
    color:darkorange;
}
.lt_footer li p{
    margin: 0;
    color:#fff;
}
.lt_search{
    padding:10px;
    position: relative;
}
.lt_search .search_input{
    border: 1px solid #007aff;
    border-radius: 5px;
    height: 34px;
    font-size: 12px;
    margin:0;
}
.lt_search .btn_search{
    position: absolute;
    top:10px;
    right:10px;
    border-radius: 0 5px 5px 0;
}